In [2]:
import pandas as pd

In [6]:
df_qs_11 = pd.read_excel('../data/raw/QS WUR 2011-2022.xlsx',sheet_name='2011') 
df_qs_12 = pd.read_excel('../data/raw/QS WUR 2011-2022.xlsx',sheet_name='2012') 
df_qs_13 = pd.read_excel('../data/raw/QS WUR 2011-2022.xlsx',sheet_name='2013') 
df_qs_14 = pd.read_excel('../data/raw/QS WUR 2011-2022.xlsx',sheet_name='2014')

In [7]:
df_qs_13.sample(6)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
15,2013.0,16.0,16.0,Johns Hopkins University,94.6,45.0,60.2,164.0,100.0,10.0,99.1,17.0,56.8,203.0,74.7,128.0,91.18
207,2013.0,208.0,208.0,King Fahd University Of Petroleum & Minerals (...,43.1,257.0,36.9,293.0,90.0,70.0,5.8,301.0,100.0,8.0,56.0,201.0,48.38
269,2013.0,270.0,270.0,Kyung Hee University,32.4,301.0,60.1,166.0,82.5,98.0,8.9,301.0,19.2,301.0,46.3,259.0,40.94
321,2013.0,322.0,322.0,Tokyo University Of Science,40.5,278.0,27.5,301.0,6.7,301.0,77.6,76.0,NaN,NaN,2.5,301.0,36.30
72,2013.0,73.0,73.0,University Of Southampton,73.3,114.0,69.8,109.0,60.0,186.0,65.9,127.0,88.2,102.0,81.0,101.0,70.66
142,2013.0,143.0,143.0,Cardiff University,54.5,183.0,64.4,145.0,56.1,211.0,51.6,208.0,71.7,164.0,71.0,146.0,57.50