# Exploracion de Datos

Aquí leeremos los excel compartidos, favor de cambiar el path para que sea compatible, tambien podria conectarse con drive pero prefiero trabajar en local

In [22]:
import pandas as pd

In [23]:
df_qs_11 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2011')
df_qs_12 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2012')
df_qs_13 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2013')
df_qs_14 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2014')
df_qs_15 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2015')
df_qs_16 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2016')

In [24]:
df_qs_17 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2017')
df_qs_18 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2018')
df_qs_19 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2019')
df_qs_20 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2020')
df_qs_21 = pd.read_excel(
    '../data/raw/QS WUR 2011-2022.xlsx', sheet_name='2021')
# df_qs_22 = pd.read_excel('../data/raw/QS WUR 2011-2022.xlsx',sheet_name='2022') Esta hoja al parecer tiene un problema :()

In [25]:
df = pd.concat([df_qs_11, df_qs_12, df_qs_13, df_qs_14, df_qs_15,
               df_qs_16, df_qs_17, df_qs_18, df_qs_19, df_qs_20, df_qs_21])

In [27]:
df.sample(5)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
144,2012.0,145.0,145.0,Case Western Reserve University,31.1,301.0,2.5,301.0,92.7,56.0,90.8,45.0,25.1,301.0,61.8,190.0,54.8
242,2015.0,243.0,243.0,Chulalongkorn University,75.6,122.0,65.7,189.0,33.4,401.0,12.5,401.0,15.1,401.0,4.0,401.0,47.1
291,2011.0,292.0,292.0,Universidade Estadual de Campinas (Unicamp),46.0,220.0,25.0,301.0,40.0,301.0,34.0,280.0,26.0,294.0,7.0,301.0,37.9
454,2014.0,456.0,456.0,Shanghai University,NaN,NaN,NaN,NaN,30.7,401.0,12.7,401.0,6.9,401.0,3.6,401.0,30.0
408,2019.0,362.0,362.0,Taipei Medical University,9.7,501.0,13.2,501.0,93.6,73.0,18.7,575.0,28.5,462.0,20.0,525.0,30.2

In [28]:
df.dtypes

Year                      float64
Rank                      float64
O_Rank                     object
Institution                object
Academic Reputation        object
AR Rank                    object
Employer Reputation        object
ER Rank                    object
Faculty Student            object
FS Rank                    object
Citations per Faculty      object
CF Rank                    object
International Faculty      object
IF Rank                    object
International Students     object
IS Rank                    object
Overall Score              object
dtype: object

In [29]:
df.shape

(5510, 17)

## Funcion para facilitar la lectura

Haremos lo mismo de arriba pero en una funcion que reciba el nombre del excel y lea cada año, se aceptan sugerencias 

```python
def lectura(excel):
    import pandas as pd
    df_qs_11 = pd.read_excel(excel,sheet_name='2011')
    df_qs_12 = pd.read_excel(excel,sheet_name='2012') 
    df_qs_13 = pd.read_excel(excel,sheet_name='2013') 
    df_qs_14 = pd.read_excel(excel,sheet_name='2014') 
    df_qs_15 = pd.read_excel(excel,sheet_name='2015')
    df_qs_16 = pd.read_excel(excel,sheet_name='2016')
    df_qs_17 = pd.read_excel(excel,sheet_name='2017') 
    df_qs_18 = pd.read_excel(excel,sheet_name='2018') 
    df_qs_19 = pd.read_excel(excel,sheet_name='2019') 
    df_qs_20 = pd.read_excel(excel,sheet_name='2020')
    df_qs_21 = pd.read_excel(excel,sheet_name='2021')
    df = pd.concat([df_qs_11,df_qs_12,df_qs_13,df_qs_14,df_qs_15,
    df_qs_16,df_qs_17,df_qs_18,df_qs_19,df_qs_20,df_qs_21])  
    return df 
```