# Limpieza

Aqui se podria empezar la limpieza de Datos, e idear el analisis

In [14]:
import pandas as pd
from src.functions import lectura
import numpy as np

In [74]:
excel_path = '../data/raw/QS WUR 2011-2022.xlsx'
df = lectura(excel_path)

In [75]:
df.sample(5)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
279,2014.0,279.0,279.0,Tecnológico De Monterrey (ITESM),42.6,276.0,84.6,85.0,56.2,245.0,3.6,401.0,55.2,239.0,30.4,399.0,41.9
212,2015.0,212.0,212.0,Universidad Complutense De Madrid (UCM),79.7,107.0,81.5,110.0,39.8,401.0,14.6,401.0,4.2,401.0,18.9,401.0,52.2
272,2019.0,188.0,188.0,Vrije Universiteit Brussel (VUB),24.2,338.0,29.4,331.0,95.6,58.0,29.2,440.0,84.1,196.0,65.4,217.0,45.2
177,2019.0,204.0,204.0,Universidade Estadual de Campinas (Unicamp),65.6,93.0,45.2,196.0,27.0,538.0,31.0,416.0,11.1,601.0,5.1,601.0,43.3
10,2014.0,10.0,10.0,Princeton University,100.0,11.0,95.1,38.0,96.3,50.0,98.8,23.0,76.3,169.0,68.8,179.0,96.1

## Limpieza de NaNs

Contamos NaNs y podemos empezar a limpiar

In [83]:
df.isna().sum()

Year                      0
Rank                      0
O_Rank                    0
Institution               0
Academic Reputation       0
AR Rank                   0
Employer Reputation       0
ER Rank                   0
Faculty Student           0
FS Rank                   0
Citations per Faculty     0
CF Rank                   0
International Faculty     0
IF Rank                   0
International Students    0
IS Rank                   0
Overall Score             0
dtype: int64

Aqui tenemos dos opciones usar __dropna__ y __fillna__ creo que es mas preciso usar el segundo

In [77]:
df.dropna()

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
0,2011.0,1.0,1.0,University of Cambridge,100.0,1.0,100.0,3.0,100.0,18.0,93.0,36.0,96.0,38.0,95.0,39.0,100.0
1,2011.0,2.0,2.0,Harvard University,100.0,2.0,100.0,1.0,97.0,40.0,100.0,3.0,71.0,125.0,87.0,70.0,99.2
2,2011.0,3.0,3.0,Yale University,100.0,10.0,100.0,10.0,100.0,7.0,98.0,22.0,78.0,109.0,66.0,149.0,98.7
3,2011.0,4.0,4.0,UCL (University College London),99.0,23.0,93.0,34.0,99.0,24.0,91.0,41.0,94.0,45.0,99.0,18.0,98.5
4,2011.0,5.0,5.0,Massachusetts Institute of Technology (MIT),100.0,6.0,100.0,4.0,100.0,21.0,100.0,9.0,31.0,265.0,98.0,24.0,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,2021.0,900.5,801-1000,Wuhan University of Technology,-,-,-,-,-,-,23.4,510.0,-,-,-,-,10.3 - 14.7
998,2021.0,900.5,801-1000,Xi'an Jiaotong-Liverpool University,-,-,-,-,-,-,-,-,100.0,58.0,-,-,10.3 - 14.7
999,2021.0,900.5,801-1000,Yamaguchi University,-,-,-,-,48.9,323.0,-,-,-,-,-,-,10.3 - 14.7
1000,2021.0,900.5,801-1000,Yeungnam University,-,-,-,-,-,-,27.5,467.0,22.2,544.0,-,-,10.3 - 14.7
1001,2021.0,900.5,801-1000,Yokohama National University,-,-,-,-,24.6,589.0,-,-,-,-,-,-,10.3 - 14.7

## Ranks

Podemos llenar los ranks usando el metodo de backward o forward fill, en este caso y sin ninguna razon usare el forward

In [79]:
df['Rank'] = df['Rank'].fillna(method='ffill')
df['O_Rank'] = df['O_Rank'].fillna(method='ffill')
df['AR Rank'] = df['AR Rank'].fillna(method='ffill')
df['ER Rank'] = df['ER Rank'].fillna(method='ffill')
df['FS Rank'] = df['FS Rank'].fillna(method='ffill')
df['CF Rank'] = df['CF Rank'].fillna(method='ffill')
df['IF Rank'] = df['IF Rank'].fillna(method='ffill')
df['IS Rank'] = df['IS Rank'].fillna(method='ffill')

## Reputaciones

Aqui suponemos que la escuela que esta arriba tiene mejor reputacion que la que esta abajo, por la que una media aritmetica seria suficiente

In [80]:
df['Academic Reputation'] = df['Academic Reputation'].fillna(df['Academic Reputation'].mean)
df['Employer Reputation'] = df['Employer Reputation'].fillna(df['Employer Reputation'].mean)

## Faculty

Para estos campos usaremos la mediana

In [81]:
df['Faculty Student'] = df['Faculty Student'].fillna(df['Faculty Student'].median)
df['Citations per Faculty'] = df['Citations per Faculty'].fillna(df['Citations per Faculty'].median)
df['International Faculty'] = df['International Faculty'].fillna(df['International Faculty'].median)
df['International Faculty'] = df['International Faculty'].fillna(df['International Faculty'].median)
df['International Students'] = df['International Students'].fillna(df['International Students'].median)

## Overall score

Este es un poco mas complicado pero usare la media

In [82]:
df['Overall Score'] = df['Overall Score'].fillna(df['Overall Score'].mean)

## Guardando los datos procesados

Ahora lo guardaremos en un csv

In [84]:
!pwd

/Users/manuelromero/Desktop/analisis_de_ciencia_de_datos/reto_qs_ranking/notebooks

In [87]:
path = '../data/processed/QS_WUR.xlsx'
df.to_excel(path)