# Archivo limpio

Podemos ver el excel limpio

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from src.functions_qs import archivo_limpio

In [3]:
df = archivo_limpio('../data/raw/QS WUR 2011-2022.xlsx')

In [11]:
df.sample(8)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
64,2020.0,64.0,64.0,University of Amsterdam,81.1,61.0,56.0,143.0,44.8,336.0,75.9,70.0,79.5,219.0,52.5,278.0,69.0
62,2021.0,63.0,63,Ludwig-Maximilians-Universität München,92.9,36.0,80.7,75.0,49.1,321.0,43.9,283.0,57.6,314.0,36.2,378.0,68.9
31,2019.0,18.0,18.0,University of Edinburgh,97.3,24.0,94.0,34.0,85.5,114.0,57.2,181.0,97.4,107.0,98.8,45.0,86.9
92,2014.0,92.0,92.0,Université De Montréal,79.0,105.0,59.6,211.0,37.3,401.0,82.4,78.0,87.0,116.0,82.6,113.0,70.2
96,2021.0,97.0,97,Lund University,70.0,87.0,50.9,169.0,53.6,284.0,39.9,321.0,92.3,152.0,69.0,197.0,60.2
57,2011.0,58.0,58.0,Technische Universität München,78.0,85.0,81.0,61.0,97.0,38.0,34.0,278.0,46.0,195.0,70.0,131.0,73.0
92,2019.0,163.0,163.0,University of Waterloo,38.0,203.0,70.7,97.0,9.2,601.0,77.9,68.0,79.6,210.0,83.9,130.0,48.0
53,2015.0,54.0,54.0,Technische Universität München,90.8,67.0,97.7,31.0,93.6,64.0,44.2,304.0,50.5,281.0,66.0,195.0,79.7

## Guardado

Ahora que tenemos nuestro dataset limpio podemos guardarlom como csv, para poder trabajar con el

In [4]:
df = df.replace('601+',int(601))

In [6]:
df.to_excel('../data/processed/qs_wur.xlsx')