In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_excel('../data/processed/QS_WUR.xlsx')

In [18]:
df['Year'] = pd.to_datetime(df['Year'])

In [14]:
df.sample(5)

,Unnamed: 0,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
925,165,2013,166.0,166,Queen'S University Of Belfast,45.4,240,73,93,53.5,227,40.2,281,97.7,44,78.1,114,53.53
2767,292,2017,291.0,291,Novosibirsk State University,28.9,373,34.2,360,86.6,90,9,401,7.5,401,56,254,37.3
3753,262,2019,481.0,481,UCSI University,6.5,501,31,312,58.6,265,3,601,50.3,328,75.4,168,24.4
2425,357,2016,358.0,358,University Of Oulu,30.2,401,21.1,401,61.4,245,43.1,347,42.4,328,7.5,401,37.7
1423,263,2014,264.0,264,Technische Universität Wien,45.2,255,67.7,154,20,401,33.2,366,60.5,220,89.8,84,43.2

## Visualizacion