In [8]:
import pandas as pd
from src.functions import archivo_limpio

In [6]:
df = archivo_limpio('../data/raw/QS WUR 2011-2022.xlsx')

In [11]:
df.sample(4)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
126,2015.0,127.0,127.0,Newcastle University,53.0,223.0,74.9,131.0,68.4,181.0,67.0,164.0,77.3,180.0,91.2,88.0,64.3
820,2021.0,900.5,801-1000,Bina Nusantara University (BINUS),-,-,-,-,-,-,-,-,-,-,-,-,10.3 - 14.7
240,2016.0,241.0,241.0,Université De Strasbourg,72.3,135.0,27.0,401.0,20.6,401.0,37.3,395.0,42.3,330.0,54.2,258.0,48.1
156,2020.0,156.0,156.0,Emory University,26.9,312.0,11.8,501.0,99.7,35.0,59.1,148.0,49.4,338.0,45.2,311.0,48.6