In [1]:
import pandas as pd
from src.functions import archivo_limpio

In [2]:
df = archivo_limpio('../data/raw/QS WUR 2011-2022.xlsx')

In [3]:
df.sample(4)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
340,2021.0,341.0,341,Yeshiva University,2.8,501+,3.8,501+,97.0,54.0,49.8,219.0,<bound method NDFrame._add_numeric_operations....,442.0,10.6,601+,31.6
163,2013.0,164.0,164.0,Case Western Reserve University,27.4,301.0,7.1,301.0,95.9,51.0,91.0,44.0,25.1,301.0,59.4,191.0,53.82
447,2020.0,448.0,448.0,Florida State University,26.9,313.0,43.3,215.0,12.0,601.0,35.4,382.0,17.8,576.0,5.7,601.0,25.8
330,2021.0,331.0,331=,National Taiwan Normal University,31.0,272.0,11.0,501+,68.5,203.0,10.8,601+,12.8,601+,31.6,414.0,31.8