In [2]:
from src.functions_qs import leer_subjects
from src.functions_qs import archivo_limpio
import pandas as pd

In [1]:

def leer_subjects(path):
    import pandas as pd
    with open('./src/areas.txt', 'r') as f:
        areas = f.readlines()
    df = pd.DataFrame()
    for i in range(len(areas)):
        try:
            nuevo = pd.read_excel(path, sheet_name=areas[i].replace('\n', ''))
            nuevo = nuevo.dropna()
            df = pd.concat(
                [df, nuevo])
        except ValueError:
            print(
                "La hoja ", areas[i], " no fue encontrada, checa el excel o el areas.txt")

    return df

In [2]:
path = '../data/raw/QS by Subjects 2014-2021.xlsx'
df = leer_subjects(path)

La hoja  Computer Science & Information
  no fue encontrada, checa el excel o el areas.txt
La hoja  Engineering & Technology (Faculty)
  no fue encontrada, checa el excel o el areas.txt
La hoja  Library & Information Management
  no fue encontrada, checa el excel o el areas.txt
La hoja  Politics & International Studies
  no fue encontrada, checa el excel o el areas.txt
La hoja  Social Sciences & Management (Faculty)
  no fue encontrada, checa el excel o el areas.txt

In [3]:
df = df.drop(columns=['RankInt','QS Region','Unnamed: 15','Unnamed: 16'])

In [10]:
df_university = df[['Institution','Location']]

In [3]:
unisnames = pd.read_csv('../data/raw/unis.csv')

In [4]:
df_wur = archivo_limpio('../data/raw/QS WUR 2011-2022.xlsx')

In [15]:
df_wur.to_excel('../data/processed/qs_wur2.xlsx')

In [16]:
unisnames.to_excel('../data/processed/unisnames.xlsx')

In [48]:
df_wur['Institution'] = df_wur['Institution'].rename('Institution')

In [51]:
df_wur = df_wur.drop(columns='Institution ')

In [64]:
df_wur.columns

Index(['Year', 'Rank', 'O_Rank', 'Academic Reputation', 'AR Rank',
       'Employer Reputation', 'ER Rank', 'Faculty Student', 'FS Rank',
       'Citations per Faculty', 'CF Rank', 'International Faculty', 'IF Rank',
       'International Students', 'IS Rank', 'Overall Score', 'Institution'],
      dtype='object')

In [63]:
df_university.columns[0] == df_wur.columns[-1]

True

In [65]:
df_wur.columns

Index(['Year', 'Rank', 'O_Rank', 'Academic Reputation', 'AR Rank',
       'Employer Reputation', 'ER Rank', 'Faculty Student', 'FS Rank',
       'Citations per Faculty', 'CF Rank', 'International Faculty', 'IF Rank',
       'International Students', 'IS Rank', 'Overall Score', 'Institution'],
      dtype='object')

In [100]:
df_wur.sample(5)

,Year,Rank,O_Rank,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score,Institution
97,2020.0,97.0,97.0,50.8,155.0,52.5,157.0,59.0,248.0,68.1,101.0,96.1,122.0,92.8,97.0,60.6,University of Southampton
22,2020.0,22.0,22.0,99.1,16.0,99.6,12.0,72.3,182.0,73.0,79.0,70.7,248.0,36.9,372.0,84.3,Peking University
57,2018.0,58.0,58.0,90.1,60.0,66.1,145.0,45.2,300.0,83.5,54.0,75.4,208.0,38.9,363.0,74.3,University Of Amsterdam
8,2012.0,9.0,9.0,98.7,31.0,90.0,15.0,99.5,27.0,94.9,33.0,64.1,169.0,66.3,168.0,95.7,University of Pennsylvania
36,2018.0,36.0,36.0,98.9,30.0,97.4,31.0,79.8,120.0,70.6,104.0,23.0,401.0,16.0,401.0,81.5,Seoul National University (SNU)

In [112]:
unisnames.name

0                            University of Andorra
1                             Abu Dhabi University
2         Ajman University of Science & Technology
3       Alain University of Science and Technology
4                            Al Ghurair University
                           ...
9358                             Solusi University
9359                        University of Zimbabwe
9360                  Women's University in Africa
9361              Zimbabwe Ezekiel Guti University
9362                      Zimbabwe Open University
Name: name, Length: 9363, dtype: object

In [114]:
pd.concat([df_wur,unisnames])

,Year,Rank,O_Rank,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score,Institution,Code,name,url
0,2011.0,1.0,1.0,100.0,1.0,100.0,3.0,100.0,18.0,93.0,36.0,96.0,38.0,95.0,39.0,100.0,University of Cambridge,NaN,NaN,NaN
1,2011.0,2.0,2.0,100.0,2.0,100.0,1.0,97.0,40.0,100.0,3.0,71.0,125.0,87.0,70.0,99.2,Harvard University,NaN,NaN,NaN
2,2011.0,3.0,3.0,100.0,10.0,100.0,10.0,100.0,7.0,98.0,22.0,78.0,109.0,66.0,149.0,98.7,Yale University,NaN,NaN,NaN
3,2011.0,4.0,4.0,99.0,23.0,93.0,34.0,99.0,24.0,91.0,41.0,94.0,45.0,99.0,18.0,98.5,UCL (University College London),NaN,NaN,NaN
4,2011.0,5.0,5.0,100.0,6.0,100.0,4.0,100.0,21.0,100.0,9.0,31.0,265.0,98.0,24.0,98.2,Massachusetts Institute of Technology (MIT),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZW,Solusi University,http://www.solusi.ac.zw/
9359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZW,University of Zimbabwe,http://www.uz.ac.zw/
9360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZW,Women's University in Africa,http://www.wua.ac.zw/
9361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZW,Zimbabwe Ezekiel Guti University,http://www.zegu.ac.zw/
9362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZW,Zimbabwe Open University,http://www.zou.ac.zw/

In [5]:
df_wur['Code'] = range(0,1100)

In [13]:
df_wur['Institution '][2])

'2                                Yale University\n2    Massachusetts Institute of Technology (MIT)\n2                             Harvard University\n2                        University Of Cambridge\n2                        University Of Cambridge\n2                            Stanford University\n2                             Harvard University\n2                             Harvard University\n2                             Harvard University\n2                            Stanford University\n2                             Harvard University\nName: Institution , dtype: object'

In [11]:
for i in range(0,1100):
    print(df_wur['Institution '][i])

0                        University of Cambridge
0                        University of Cambridge
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute Of Technology (MIT)
0    Massachusetts Institute of Technology (MIT)
0               Tecnológico de Monterrey (ITESM)
0    Massachusetts Institute of Technology (MIT)
Name: Institution , dtype: object
1                             Harvard University
1                             Harvard University
1                        University Of Cambridge
1                             Harvard University
1                        Imperial College London
1                             Harvard University
1                            Stanford University
1                            Stanford University
1                            Stanford University
1    Massachusetts Institute of Technology (MIT)
1                            Stanford University
Name: Institution , dtype: object
2                                Yale University
2    Massachusetts Institute of Technology (MIT)
2                             Harvard University
2                        University Of Cambridge
2                        University Of Cambridge
2                            Stanford University
2                             Harvard University
2                             Harvard University
2                             Harvard University
2                            Stanford University
2                             Harvard University
Name: Institution , dtype: object
3                 UCL (University College London)
3                                 Yale University
3                 UCL (University College London)
3                 UCL (University College London)
3                              Harvard University
3                         University Of Cambridge
3                         University Of Cambridge
3    California Institute Of Technology (Caltech)
3                            University of Oxford
3                              Harvard University
3    California Institute of Technology (Caltech)
Name: Institution , dtype: object
4     Massachusetts Institute of Technology (MIT)
4                            University of Oxford
4                            University Of Oxford
4                         Imperial College London
4                 UCL (University College London)
4    California Institute Of Technology (Caltech)
4    California Institute Of Technology (Caltech)
4                         University Of Cambridge
4                         University of Cambridge
4                            University of Oxford
4                            University of Oxford
Name: Institution , dtype: object
5                                 University of Oxford
5                              Imperial College London
5                              Imperial College London
5                                 University Of Oxford
5                                 University Of Oxford
5                                 University Of Oxford
5                                 University Of Oxford
5                                 University Of Oxford
5                                      CentraleSupélec
5         California Institute of Technology (Caltech)
5    ETH Zurich (Swiss Federal Institute of Technol...
Name: Institution , dtype: object
6                              Imperial College London
6                      UCL (University College London)
6                                      Yale University
6                                  Stanford University
6                                  Stanford University
6                      UCL (University College London)
6                      UCL (University College London)
6                      UCL (University College London)
6                              Imperial College London
6    ETH Zurich (Swiss Federal Institute of Technol...
6                              University of Cambridge
Name: Institution , dtype: object
7                                University of Chicago
7                                University of Chicago
7                                University Of Chicago
7                                      Yale University
7         California Institute Of Technology (Caltech)
7                              Imperial College London
7    ETH Zurich (Swiss Federal Institute Of Technol...
7                              Imperial College London
7    London School of Economics and Political Scien...
7                              University of Cambridge
7                              Imperial College London
Name: Institution , dtype: object
8         California Institute of Technology (Caltech)
8                           University of Pennsylvania
8                                 Princeton University
8                                University Of Chicago
8                                 Princeton University
8    ETH Zurich (Swiss Federal Institute Of Technol...
8                              Imperial College London
8                                University Of Chicago
8             University of California, Berkeley (UCB)
8                      UCL (University College London)
8                                University of Chicago
Name: Institution , dtype: object
9                                 Princeton University
9                                  Columbia University
9         California Institute Of Technology (Caltech)
9         California Institute Of Technology (Caltech)
9                                      Yale University
9                                University Of Chicago
9                                University Of Chicago
9    ETH Zurich (Swiss Federal Institute Of Technol...
9                                    Peking University
9                              Imperial College London
9                      UCL (University College London)
Name: Institution , dtype: object
10                       Columbia University
10                       Stanford University
10                       Columbia University
10                      Princeton University
10                     University Of Chicago
10                      Princeton University
10                      Princeton University
10    Nanyang Technological University (NTU)
10                           Yale University
10                     University of Chicago
10    National University of Singapore (NUS)
Name: Institution , dtype: object
11                           University of Pennsylvania
11         California Institute of Technology (Caltech)
11                           University Of Pennsylvania
11    ETH Zurich (Swiss Federal Institute Of Technol...
11    ETH Zurich (Swiss Federal Institute Of Technol...
11               National University Of Singapore (NUS)
11               National University Of Singapore (NUS)
11      Ecole Polytechnique Fédérale De Lausanne (EPFL)
11                                  Ecole Polytechnique
11               Nanyang Technological University (NTU)
11                                 Princeton University
Name: Institution , dtype: object
12                                  Stanford University
12                                 Princeton University
12    ETH Zurich (Swiss Federal Institute Of Technol...
12                           University Of Pennsylvania
12                           University Of Pennsylvania
12               Nanyang Technological University (NTU)
12               Nanyang Technological University (NTU)
12                                 Princeton University
12                              The University of Tokyo
12               National University of Singapore (NUS)
12               Nanyang Technological University (NTU)
Name: Institution , dtype: object
13                                    Duke University
13                             University of Michigan
13                                 Cornell University
13                                Columbia University
13                                Columbia University
13    Ecole Polytechnique Fédérale De Lausanne (EPFL)
13    Ecole Polytechnique Fédérale De Lausanne (EPFL)
13                                 Cornell University
13                                Tsinghua University
13                               Princeton University
13    Ecole Polytechnique Fédérale de Lausanne (EPFL)
Name: Institution , dtype: object
14                               University of Michigan
14                                   Cornell University
14                                  Stanford University
14                                   Cornell University
14                             Johns Hopkins University
14                                      Yale University
14                                      Yale University
14               National University Of Singapore (NUS)
14    Paris Sciences et Lettres Research University ...
14                                   Cornell University
14                                  Tsinghua University
Name: Institution , dtype: object
15                 Cornell University
15           Johns Hopkins University
15           Johns Hopkins University
15           Johns Hopkins University
15        King'S College London (KCL)
15           Johns Hopkins University
15                 Cornell University
15                    Yale University
15    UCL (University College London)
15         University of Pennsylvania
15         University of Pennsylvania
Name: Institution , dtype: object
16                           Johns Hopkins University
16                                  McGill University
16                             University Of Michigan
16                            University Of Edinburgh
16    Ecole Polytechnique Fédérale De Lausanne (EPFL)
16                                 Cornell University
16                           Johns Hopkins University
16                           Johns Hopkins University
16             National University of Singapore (NUS)
16                                Tsinghua University
16                                 Cornell University
Name: Institution , dtype: object
17    ETH Zurich (Swiss Federal Institute of Technol...
17    ETH Zurich (Swiss Federal Institute of Technol...
17                                    Mcgill University
17                                University Of Toronto
17                              University Of Edinburgh
17                           University Of Pennsylvania
17                           University Of Pennsylvania
17                                  Columbia University
17         University of California, Los Angeles (UCLA)
17                                      Yale University
17                                      Yale University
Name: Institution , dtype: object
18                                  McGill University
18                                    Duke University
18                              University Of Toronto
18    Ecole Polytechnique Fédérale De Lausanne (EPFL)
18                                 Cornell University
18               Australian National University (ANU)
18                            University Of Edinburgh
18                         University Of Pennsylvania
18                        The University of Melbourne
18                                Columbia University
18                                Columbia University
Name: Institution , dtype: object
19               Australian National University (ANU)
19                            University of Edinburgh
19                                    Duke University
19                        King'S College London (KCL)
19                              University Of Toronto
19                        King'S College London (KCL)
19                                Columbia University
19               Australian National University (ANU)
19                       The University of Manchester
19    Ecole Polytechnique Fédérale de Lausanne (EPFL)
19                            University of Edinburgh
Name: Institution , dtype: object
20                 King's College London (KCL)
20    University of California, Berkeley (UCB)
20                     University Of Edinburgh
20                           Mcgill University
20                           Mcgill University
20                     University Of Edinburgh
20                 King'S College London (KCL)
20                             Duke University
20              Technische Universität München
20                     University of Edinburgh
20            University of Michigan-Ann Arbor
Name: Institution , dtype: object
21                              University of Edinburgh
21                        University of Hong Kong (HKU)
21             University Of California, Berkeley (UCB)
21                               University Of Michigan
21               National University Of Singapore (NUS)
21                                  Columbia University
21                 Australian National University (ANU)
21                               University Of Michigan
21    Rheinisch-Westfälische Technische Hochschule A...
21                               University of Michigan
21                        University of Hong Kong (HKU)
Name: Institution , dtype: object
22                  University of Hong Kong (HKU)
22                          University of Toronto
22                  University Of Hong Kong (HKU)
22                                Duke University
22                         University Of Michigan
22    Ecole Normale Supérieure, Paris (ENS Paris)
22                         University Of Michigan
22                    King'S College London (KCL)
22                            Columbia University
22                              Peking University
22                              Peking University
Name: Institution , dtype: object
23                        The University of Tokyo
23                        Northwestern University
23           Australian National University (ANU)
23         National University Of Singapore (NUS)
23    Ecole Normale Supérieure, Paris (ENS Paris)
23                              Mcgill University
23                                Duke University
23                        University Of Edinburgh
23                       The University of Sydney
23                        The University of Tokyo
23                        The University of Tokyo
Name: Institution , dtype: object
24                            Kyoto University
24                     The University of Tokyo
24      National University Of Singapore (NUS)
24    University Of California, Berkeley (UCB)
24        Australian National University (ANU)
24                         Tsinghua University
24                         Tsinghua University
24                         Tsinghua University
24                        Princeton University
24                    Johns Hopkins University
24                    Johns Hopkins University
Name: Institution , dtype: object
25                     Northwestern University
25        Australian National University (ANU)
25                 King'S College London (KCL)
25               University Of Hong Kong (HKU)
25                             Duke University
25    University Of California, Berkeley (UCB)
25                     Northwestern University
25               University Of Hong Kong (HKU)
25    The University of New South Wales (UNSW)
25                             Duke University
25                       University of Toronto
Name: Institution , dtype: object
26                                University of Bristol
26                          King's College London (KCL)
26                              Northwestern University
26                 Australian National University (ANU)
26             University Of California, Berkeley (UCB)
26         University Of California, Los Angeles (UCLA)
26                        University Of Hong Kong (HKU)
26             University Of California, Berkeley (UCB)
26    ETH Zurich (Swiss Federal Institute of Technol...
26                        University of Hong Kong (HKU)
26    The Hong Kong University of Science and Techno...
Name: Institution , dtype: object
27             University of California, Berkeley (UCB)
27               National University of Singapore (NUS)
27                                University Of Bristol
27          Ecole Normale Supérieure, Paris (ENS Paris)
27                        University Of Hong Kong (HKU)
27    The Hong Kong University Of Science And Techno...
27             University Of California, Berkeley (UCB)
27                              Northwestern University
27                            The University of Warwick
27                         The University of Manchester
27                         The University of Manchester
Name: Institution , dtype: object
28                              University of Toronto
28                       The University of Manchester
28    Ecole Polytechnique Fédérale De Lausanne (EPFL)
28                            Northwestern University
28                              University Of Bristol
28                                    Duke University
28                       The University Of Manchester
28                            The University Of Tokyo
28                      Shanghai Jiao Tong University
28           University of California, Berkeley (UCB)
28                            Northwestern University
Name: Institution , dtype: object
29                         The University of Manchester
29                                University of Bristol
29                              The University Of Tokyo
29                                University Of Bristol
29                         The University Of Manchester
29                        University Of Hong Kong (HKU)
29                                    Mcgill University
29    The Hong Kong University Of Science And Techno...
29                                     Fudan University
29                 Australian National University (ANU)
29             University of California, Berkeley (UCB)
Name: Institution , dtype: object
30          National University of Singapore (NUS)
30                     The University of Melbourne
30    University Of California, Los Angeles (UCLA)
30                     The University Of Melbourne
30                 Seoul National University (SNU)
30                          University Of Michigan
30    University Of California, Los Angeles (UCLA)
30                           University Of Toronto
30                               Durham University
30                           University of Toronto
30            Australian National University (ANU)
Name: Institution , dtype: object
31    Ecole Polytechnique Fédérale de Lausanne (EPFL)
31                                   Kyoto University
31                       The University Of Manchester
31                            The University Of Tokyo
31                            The University Of Tokyo
31                            Northwestern University
31                              University Of Toronto
31                                  Mcgill University
31                            University of Edinburgh
31                            Northwestern University
31                        King's College London (KCL)
Name: Institution , dtype: object
32          Ecole Normale Supérieure, Paris (ENS Paris)
32          Ecole Normale Supérieure, Paris (ENS Paris)
32    The Hong Kong University Of Science And Techno...
32                         The University Of Manchester
32                          The University Of Melbourne
32                         The University Of Manchester
32          Ecole Normale Supérieure, Paris (ENS Paris)
32         University Of California, Los Angeles (UCLA)
32                                University of Toronto

KeyError: 100