In [13]:
from src.functions_qs import leer_subjects

In [14]:
path = '../data/raw/QS by Subjects 2014-2021.xlsx'
df = leer_subjects(path)

La hoja  Computer Science & Information
  no fue encontrada, checa el excel o el areas.txt
La hoja  Engineering - Mechanical, Aeronautical & Manufacturing
  no fue encontrada, checa el excel o el areas.txt
La hoja  Engineering & Technology (Faculty)
  no fue encontrada, checa el excel o el areas.txt
La hoja  Library & Information Management
  no fue encontrada, checa el excel o el areas.txt
La hoja  Politics & International Studies
  no fue encontrada, checa el excel o el areas.txt
La hoja  Social Sciences & Management (Faculty)
  no fue encontrada, checa el excel o el areas.txt

In [9]:
df.sample(30)

,Year,Faculty,Subject,Rank,Institution,Location,Academic Score,Employer Score,Citations Score,H Score,Score,Rank TB,Score_Calc,RankInt,QS Region,Unnamed: 15,Unnamed: 16
1835,2020,Social Sciences & Management,Economics & Econometrics,101-150,Universit√§t Wien,Austria,67.3,63.7,78.7,68.9,NaN,NaN,NaN,NaN,Europe,NaN,NaN
47,2014,Arts & Humanities,Linguistics,17,Monash University,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704,2017,Arts & Humanities,Modern Languages,251-300,West University of Timisoara,Romania,60.0,58.2,NaN,NaN,NaN,275.5,59.460,NaN,NaN,NaN,NaN
939,2018,Natural Sciences,Environmental Sciences,201-250,University of Bath,United Kingdom,59.0,74.6,82.3,72.9,NaN,225.5,69.860,NaN,NaN,NaN,NaN
2092,2020,Life Sciences & Medicine,Biological Sciences,51-100,University of Glasgow,United Kingdom,70.1,72.4,89.9,84.9,NaN,NaN,NaN,NaN,Europe,NaN,NaN
2545,2020,Life Sciences & Medicine,Biological Sciences,501-550,University of Stirling,United Kingdom,48.9,58,60.6,59.5,NaN,NaN,NaN,NaN,Europe,NaN,NaN
884,2019,Social Sciences & Management,Communication & Media Studies,151-200,Universiti Sains Malaysia (USM),Malaysia,61.7,70.9,69.2,60.1,NaN,175.5,63.800,NaN,NaN,NaN,NaN
175,2016,Social Sciences & Management,Communication & Media Studies,51-100,Tsinghua University,China,61.5,90.2,74.0,66.9,NaN,75.5,67.950,NaN,NaN,NaN,NaN
559,2019,Arts & Humanities,Art & Design,11,"Goldsmiths, University of London",United Kingdom,83.3,70.4,NaN,NaN,82,11.0,82.010,NaN,NaN,NaN,NaN
1075,2021,Arts & Humanities,Art & Design,101-150,OCAD University,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,2017,Social Sciences & Management,Economics & Econometrics,351-400,Bilkent University,Turkey,41.9,61.1,65.6,54.9,NaN,375.5,53.080,NaN,NaN,NaN,NaN
569,2017,Natural Sciences,Materials Science,251-300,Kyungpook National University,South Korea,47.2,70.7,78.0,64.2,NaN,275.5,61.500,NaN,NaN,NaN,NaN
495,2017,Natural Sciences,Materials Science,151-200,University of St Andrews,United Kingdom,58.2,61.5,85.6,62.4,NaN,175.5,66.430,NaN,NaN,NaN,NaN
1326,2020,Natural Sciences,Materials Science,22,Shanghai Jiao Tong University,China,83.4,81.1,89.7,90.8,86.6,NaN,NaN,NaN,Asia Pacific,NaN,NaN
3105,2021,Life Sciences & Medicine,Biological Sciences,451-500,University of the Punjab,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,2016,Natural Sciences,Environmental Sciences,151-200,"University of California, Santa Cruz (UCSC)",United States,49.0,62.1,96.4,75.4,NaN,175.5,68.760,NaN,NaN,NaN,NaN
665,2018,Natural Sciences,Geography,151-200,Maynooth University,Ireland,62.0,51.1,75.2,64.4,NaN,175.5,63.250,NaN,NaN,NaN,NaN
1497,2019,Natural Sciences,Natural Sciences (Faculty),451-500,Chonbuk National University,South Korea,52.5,45.2,79.9,65.5,NaN,475.5,59.120,14.0,NaN,NaN,NaN
861,2019,Natural Sciences,Geography,151-200,James Cook University (JCU),Australia,50.8,56.7,79.8,67.3,NaN,175.5,58.215,NaN,NaN,NaN,NaN
345,2017,Social Sciences & Management,Communication & Media Studies,42=,University of Helsinki,Finland,78.5,66.6,86.3,77.3,78.6,42.0,78.630,NaN,NaN,NaN,NaN
1807,2021,Natural Sciences,Environmental Sciences,98,"University of North Carolina, Chapel Hill",United States,76.2,65.5,90.1,82.1,80.1,NaN,NaN,NaN,NaN,NaN,NaN
1393,2020,Engineering & Technology,Engineering - Chemical,151-200,Universitat Polit√®cnica de Catalunya,Spain,57.9,76.6,78.9,68.8,NaN,NaN,NaN,NaN,Europe,NaN,NaN
404,2017,Arts & Humanities,Arts & Humanities (Faculty),401-450,Christian-Albrechts-Universit√§t zu Kiel,Germany,53.2,53.0,92.2,20.8,NaN,425.5,53.820,NaN,NaN,NaN,NaN
1810,2021,Engineering & Technology,Engineering - Chemical,201-250,Arizona State University,United States,NaN,NaN,84.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2016,Natural Sciences,Chemistry,28,The Hong Kong University of Science and Techno...,Hong Kong,80.8,83.4,90.8,80.5,83.3,28.0,83.260,NaN,NaN,NaN,NaN
2591,2021,Social Sciences & Management,Economics & Econometrics,351-400,Universitas Gadjah Mada,Indonesia,NaN,69.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1139,2019,Engineering & Technology,Engineering - Chemical,201-250,University of Tennessee,United States,48.8,58.0,84.7,76.8,NaN,225.5,61.145,NaN,NaN,NaN,NaN
3106,2021,Natural Sciences,Physics & Astronomy,351-400,University of Turku,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
775,2018,Arts & Humanities,Modern Languages,51-100,Saint-Petersburg State University,Russia,73.9,71.9,NaN,NaN,NaN,75.5,73.300,NaN,NaN,NaN,NaN
1373,2019,Natural Sciences,Natural Sciences (Faculty),371=,Universidad Nacional de Colombia,Colombia,66.4,72.7,60.7,53.2,63.9,371.0,63.880,NaN,NaN,NaN,NaN